<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NBA Statistic Lookup">
    <meta name="author" content="Justin^2">

    <title>NBA-Stat About Page</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing-page.min.css" %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark sticky-top">
        <a class="navbar-brand" href="/">
            <img src="{% static "img/logoalone.png" %}" alt="Logo" style="width:73px">
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/randPlayer">Random Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about/">About</a>
                </li>
            </ul>
            <form method="get" action="/player_name/" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="player_name" placeholder="Search" required>
                <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Search">
            </form>
        </div>
    </nav>

    <section class="testimonials text-center bg-white">
        <div class="container">
            <h1 class="mb-5">Meet the team</h1>
            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static "img/headshots/K.png" %}">
                        <h5>Kostyantyn S.</h5>
                        <p class=" font-weight-light mb-0">Product Owner & Backend Engineer</p>
                        <p class=" p-3">
                            <a href="http://linkedin.com/in/kshumishyn">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static "img/headshots/samG.png" %}"
                            alt="Sam Gibson">
                        <h5>Sam G.</h5>
                        <p class="font-weight-light mb-0">Visual Designer & Backend Engineer</p>
                        <p class=" p-3">
                            <a href="http://linkedin.com/in/smmgibson" target="_blank">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static "img/headshots/justinA.png" %}"
                            alt="Justin Armbrust">
                        <h5>Justin A.</h5>
                        <p class="font-weight-light mb-0">HTML/CSS Designer</p>
                        <p class=" p-3">
                            <a href="http://linkedin.com/in/justin-armbrust-7b6bb7173" target="_blank">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static "img/headshots/justinK.png" %}"
                            alt="Justin Kelly">
                        <h5>Justin K.</h5>
                        <p class="font-weight-light mb-0">Frontend/Backend Engineer</p>
                        <p class=" p-3">
                            <a href="http://linkedin.com/in/justin-kelly-2196aa167" target="_blank">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="about/">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="https://github.com/Kshumishyn/NBAStat">GitHub</a>
                        </li>
                    </ul>
                    <a class="link text-muted small mb-4 mb-lg-0" href="https://startbootstrap.com/themes/">&copy;
                        Website template from startbootstrap.com</a>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/Kshumishyn/NBAStat">
                                <i class="fab fa-github-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>