<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Player Statistics">
    <meta name="author" content="Justin^2">

    <title>Player Stats</title>


    <title>Landing Page - Start Bootstrap Theme</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing-page.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/player-teams-colors.css" %}">
    <script type="text/javascript" src="{% static "/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "/fusioncharts.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "/themes/fusioncharts.theme.candy.js" %}"></script>
    <script type="text/javascript" src="{% static "/themes/fusioncharts.theme.ocean.js" %}"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark sticky-top">

        <a class="navbar-brand" href="/">
            <img src="{% static "img/logoalone.png" %}" alt="Logo" style="width:73px">
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/randPlayer">Random Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
            <form method="get" action="/player_name/" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="player_name" placeholder="Search" required>
                <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Search">
            </form>
        </div>
    </nav>

    <!--- Jumbotron --->
    </header class="jumbotron jumbotron-fluid ">
    <div class="container-fluid bg-dark p-3">
        <div class="row">
            <div class="card col-3 bg-dark border-0">
                <img class="card-img-top " src={{Headshot_URL}} onerror="this.src='{% static "/img/img_avatar1.png" %}'">
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="text-white display-4" style="font-weight: bold;">
                            {{Player_Name}} #{{Jersey_Number}}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card col-12 border-0 bg-dark">
                            <h1 class="mb-5 display-2 ">
                                <span class="{{Player_Team_abbv}} city"
                                    style="font-weight: bold;">{{Player_Team_City}}</span>
                                <span class="{{Player_Team_abbv}} name"
                                    style="font-weight: bold;">{{Player_Team_Name}}</span>
                            </h1>
                        </div>
                    </div>
                    <div class="card-deck" style="height:100%">
                        <div class="card bg-dark border-0">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="h1" style="font-weight: bold;color:white; list-style-type: none"
                                        ;>
                                        Position: {{Player_Position}}
                                    </li>
                                    <li class="h1" style="font-weight: bold;color:white; list-style-type: none"
                                        ;>
                                        Age: {{Player_Age}}
                                    </li>
                                    <li class="h1" style="font-weight: bold;color:white; list-style-type: none"
                                        ;>
                                        Height: {{Player_Height}}
                                    </li>
                                    <li class="h1" style="font-weight: bold;color:white; list-style-type: none"
                                        ;>
                                        Weight: {{Player_Weight}}
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="card bg-dark border-0">
                            <img class="card-img-top" style ="width:auto;height:300px;object-fit:contain;" src='{% static '' %}{{Logo_URL}}'>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </header>
    

    <!--Coming Soon-->
    <div class="container-fluid p-4" style="background: url('{% static '' %}{{Logo_URL}}'); background-repeat: no-repeat;
    background-size:contain;background-attachment:local;background-position:top; background-color:LightGrey">
        <div class="row p-4">
            <div class="col-6 mx-auto" style="align-content: center;">
                <div id="chart-containter-1">{{chart1|safe}}</div>
            </div>
            <div class="col-6 mx-auto">
                <div id="chart-container-2">{{chart2|safe}}</div>
            </div>
        </div>
        <table class="table table-dark table-striped p-4">
            <thead>
                <tr>
                    <th><a data-toggle="tooltip" title="Season Year">Season</a></th>
                    <th><a data-toggle="tooltip" title="Team Abbreviation">TEAM</a></th>
                    <th><a data-toggle="tooltip" title="Points Per Game">PPG</a></th>
                    <th><a data-toggle="tooltip" title="Field Goal Percentage">FG%</a></th>
                    <th><a data-toggle="tooltip" title="Field Goal 3 Percentage">FG3%</a></th>
                    <th><a data-toggle="tooltip" title="Assists Per Game">APG</a></th>
                    <th><a data-toggle="tooltip" title="Rebounds Per Game">RPG</a></th>
                    <th><a data-toggle="tooltip" title="Personal Fouls">PF</a></th>

                </tr>
            </thead>
            <tbody>

                {% for season,values in stats.items %}
                <tr>
                    <td>{{ season }}</td>
                    {%for key, val in values.items%}
                    <td>{{val}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table>




    </div>
    <footer class="footer bg-light">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                  <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                      <a href="about/">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                      <a href="https://github.com/Kshumishyn/NBAStat">GitHub</a>
                    </li>
                  </ul>
                  <a class="link text-muted small mb-4 mb-lg-0" href="https://startbootstrap.com/themes/">&copy; Website template from startbootstrap.com</a>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                      <a href="#">
                        <i class="fab fa-facebook fa-2x fa-fw"></i>
                      </a>
                    </li>
                    <li class="list-inline-item mr-3">
                      <a href="#">
                        <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://github.com/Kshumishyn/NBAStat">
                        <i class="fab fa-github-square fa-2x fa-fw"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
          
    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
            </script>

</body>

</html>